{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block css %}  {% endblock %}

{% block body %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
            <p style="text-align:center;color:orange;font-size:20pt;">{% for message in messages %}
            {{message}}
            {% endfor %}</p>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-page-inner">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                    {% for x in cart %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="#"><img src="/media/{{x.product.pic1}}" alt="Image"></a>
                                                    <p>{{x.product.title}}</p>
                                                </div>
                                            </td>
                                            <td>Rs. {{x.product.price}}</td>
                                            <td>
                                                <div class="">
                                                    <button class="btn-minus"><a href="{% url 'cart_minus' x.id %}" style="text-decoration:none;color:white;"><i class="fa fa-minus"></i></a></button>
                                                    <input type="text" value="{{x.quantity}}">
                                                    <button><a href="{% url 'cart_plus' x.id %}" style="text-decoration:none;color:white;" class="btn-plus"><i class="fa fa-plus"></i></a></button>
                                                </div>
                                            </td>
                                            <td>Rs. {{x.total_price}}</td>
                                            <td><a href="{% url 'cart_remove' x.id %}"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-page-inner">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="cart-summary">
                                        <div class="cart-content">
                                            <h1>Cart Summary</h1>
                                            <p>Sub Total<span>Rs. {{sub_total}}</span></p>
                                            <p>Shipping Cost<span>Rs. 1</span></p>
                                            <h2>Grand Total<span>Rs. {{grand_total}}</span></h2>
                                        </div>
                                        <div class="cart-btn">

                                            <a href="{% url 'checkout' %}"><button>Checkout</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->
{% endblock %}